@{
    var sablonList = ViewBag.SablonViewModelList  as List<SablonViewModel>;
    var sayac = 1;
}




<div class="row" hidden>
    

<form asp-action="windowsFormURLSettings" asp-controller="WindowsFormSettings" method="post" enctype="multipart/form-data">
    <input type="text" class="form-control" placeholder="Hedef dosya yolunu ekleyin" alt="Dosya seçiniz" name="jsonFile" />

    <button class="btn btn-info btn-sm float-end m-4">Bağla</button>
</form>

</div>
 <div class="row g-7">
    <!--begin::Contact groups-->
    <div class="col-lg-4 col-xl-4 " hidden>

        <div class="card h-xl-100">
            <!--begin::Header-->
            <div class="card-header position-relative min-h-50px p-0 border-bottom-2">
                <!--begin::Nav-->
                <ul class="nav nav-pills nav-pills-custom d-flex position-relative w-100" role="tablist">
                    <!--begin::Item-->
                    <li class="nav-item mx-0 p-0 w-50" role="presentation">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-color-muted border-0 h-100 px-0 active" data-bs-toggle="pill" id="kt_forms_widget_1_tab_1" href="#kt_forms_widget_1_tab_content_1" aria-selected="true" role="tab">
                            <!--begin::Subtitle-->
                            <span class="nav-text fw-bold fs-4 mb-3">
                                SQL
                            </span>
                            <!--end::Subtitle-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mx-0 px-0 w-50" role="presentation">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-color-muted border-0 h-100 px-0" data-bs-toggle="pill" id="kt_forms_widget_1_tab_2" href="#kt_forms_widget_1_tab_content_2" aria-selected="false" role="tab" tabindex="-1">
                            <!--begin::Subtitle-->
                            <span class="nav-text fw-bold fs-4 mb-3">
                                API
                            </span>
                            <!--end::Subtitle-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                </ul>
                <!--end::Nav-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Tab Content-->
                <div class="tab-content">
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade active show" id="kt_forms_widget_1_tab_content_1" role="tabpanel" aria-labelledby="kt_forms_widget_1_tab_1">
                        <form asp-action="windowssFormSQLSettings" asp-controller="WindowsFormSettings" method="post">

      
                        <!--begin::Row-->
                        <div class="row mb-7">
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="text" class="form-control text-gray-800 fw-bold" placeholder="Catalog" id="Catalog" name="Catalog" "">
                                    <label for="Catalog">Catalog</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="text" class="form-control text-gray-800 fw-bold" placeholder="ServerName" id="ServerName" name="ServerName">
                                    <label for="ServerName">ServerName</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                        
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="text" class="form-control text-gray-800 fw-bold" placeholder="KullaniciAdi" id="KullaniciAdi" name="KullaniciAdi">
                                    <label for="KullaniciAdi">KullaniciAdi</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="password" class="form-control text-gray-800 fw-bold" placeholder="Parola" id="Parola" name="Parola">
                                    <label for="Parola">Parola</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Col-->
                        
               
                        </div>
                        <!--end::Row-->
                        <!--begin::Action-->
                        <div class="d-flex align-items-end">
                            <button type="submit" class="btn btn-primary fs-3 w-100">Ayarları Kaydet</button>
                        </div>
                        <!--end::Action-->
                        </form>
                    </div>
                    <!--end::Tap pane-->
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade" id="kt_forms_widget_1_tab_content_2" role="tabpanel" aria-labelledby="kt_forms_widget_1_tab_2">
                        <form asp-action="windowssFormAPISettings" asp-controller="WindowsFormSettings" method="post">
                        <!--begin::Row-->
                        <div class="row mb-7">
                                <div class="col-12 mt-3">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <input type="text" class="form-control text-gray-800 fw-bold" placeholder="ApiURL" id="ApiURL" name="ApiURL">
                                        <label for="ApiURL">ApiURL</label>
                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <div class="col-12 mt-3">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <input type="text" class="form-control text-gray-800 fw-bold" placeholder="ApiEndpoint" id="ApiEndpoint" name="ApiEndpoint">
                                        <label for="ApiEndpoint">ApiEndpoint</label>
                                    </div>
                                    <!--end::Input group-->
                                </div>
                          
                        </div>
                        <!--end::Row-->
                        <!--begin::Action-->
                        <div class="d-flex align-items-end mt-3">
                            <button type="submit" class="btn btn-primary fs-3 w-100">Ayarları Kaydet</button>
                        </div>
                        <!--end::Action-->
                        </form>
                    </div>
                    <!--end::Tap pane-->
                </div>
                <!--end::Tab Content-->
            </div>
            <!--end: Card Body-->
        </div>
    </div>
    <!--end::Contact groups-->
    <!--begin::Search-->
    <div class="col-lg-12 col-xl-12">
        <!--begin::Contacts-->
        <div class="card card-flush" id="kt_contacts_list">

            <div class="card-header">

                <div class="d-flex align-items-center mb-1" id="workStatus">
    <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3">Windows Form Gösterge Paneli</a>
    <span class="badge  me-auto" id="workStatusBadge">Aranıyor...</span>
</div>
            </div>
          
            <!--begin::Card body-->
            <div class="card-body pt-5 " id="kt_contacts_list_body">
                       <p>
                                    Toplam kayıt sayısı : <strong id="dataCount"></strong>
                                </p>
                <!--begin::List-->
                <div hidden class="scroll-y me-n5 pe-5 h-300px h-xl-auto" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_contacts_list_header" data-kt-scroll-wrappers="#kt_content, #kt_contacts_list_body" data-kt-scroll-stretch="#kt_contacts_list, #kt_contacts_main" data-kt-scroll-offset="5px" style="max-height: 763px;">
             

                    <span>Catalog: @ViewBag.Catalog</span>
                    <span>
                       ServerName: @ViewBag.ServerName
                    </span>
                    <span>
                        KullaniciAdi:
                        @if (!string.IsNullOrEmpty(ViewBag.KullaniciAdi)){
                            @ViewBag.KullaniciAdi
                        }
                    </span>
                    <span>
                        Parola:
                        @if (!string.IsNullOrEmpty(ViewBag.Parola))
                        {
                            @ViewBag.Parola
                            
                        }
                       
                    </span>
                    <span>
                        API: @ViewBag.API
                    </span>



                </div>
                <!--end::List-->

                <div class="table-responsive scroll-y me-n5 pe-5 h-425px">
                    <p>Bağlantı durumu <strong id="constatus"></strong></p>
                <table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th>No</th>
            <th>Version</th>
            <th>Durum</th>
            <th>Adı</th>
            <th>Numarası</th>
            <th>İşlem Tarihi</th>
            </tr>
    </thead>
    <tbody id="dataTableBody" class="fs-8" ></tbody>
</table>

                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Contacts-->
    </div>
    <!--end::Search-->

</div>




 








                        			<!--begin::Modals-->
									<!--begin::Modal - Add role-->
									<div class="modal fade" id="kt_modal_add_role" tabindex="-1" aria-hidden="true">
										<!--begin::Modal dialog-->
										<div class="modal-dialog modal-dialog-centered mw-750px">
											<!--begin::Modal content-->
											<div class="modal-content">
												<!--begin::Modal header-->
												<div class="modal-header">
													<!--begin::Modal title-->
													<h2 class="fw-bold">Rol Oluştur</h2>
													<!--end::Modal title-->
													<!--begin::Close-->
													<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" aria-label="Close">
														<i class="ki-duotone ki-cross fs-1">
															<span class="path1"></span>
															<span class="path2"></span>
														</i>
													</div>
													<!--end::Close-->
												</div>
												<!--end::Modal header-->
												<!--begin::Modal body-->
												<div class="modal-body scroll-y mx-lg-5 my-7">
													<!--begin::Form-->
													<form method="post" asp-action="apiSablonsSendSettings" asp-controller="WindowsFormSettings" enctype="multipart/form-data" class="form">
														<!--begin::Scroll-->
														<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_role_header" data-kt-scroll-wrappers="#kt_modal_add_role_scroll" data-kt-scroll-offset="300px">
															<!--begin::Input group-->
															<div class="fv-row mb-10">
																<!--begin::Label-->
																<label class="fs-5 fw-bold form-label mb-2">
																	<span class="required">Rol adı</span>
																</label>
																<!--end::Label-->
																<!--begin::Input-->
																<input class="form-control form-control-solid" placeholder="Rol adının giriniz" name="role_name" />
																<!--end::Input-->
															</div>

                                                            <div class="fv-row mb-10">
																<!--begin::Label-->
																<label class="fs-5 fw-bold form-label mb-2">
																	<span class="required">Kaynak Apiler</span>
																</label>
																<!--end::Label-->
																<!--begin::Input-->
																<select class="form-control form-control-solid" name="source_api">
                                                                    <option value="">Kaynak Api Seçiniz</option>
                                                                    <option value="ProdMgmt">PTC Product Management Domain</option>
                                                                    <option value="ProdMgmt">PTC Product Management Domain</option>
                                                                    <option value="MfgProcMgmt">PTC Manufacturing Process Management domain</option>
                                                                    <option value="DocMgmt">PTC Document Management Domain</option>
                                                                    <option value="ChangeMgmt">PTC Change Management Domain</option>
                                                                </select> 
																<!--end::Input-->
															</div>


															<!--end::Input group-->
															<!--begin::Permissions-->
															<div class="fv-row">
																<!--begin::Label-->
																<label class="fs-5 fw-bold form-label mb-2">Api Yönetimi</label>
																<!--end::Label-->
																<!--begin::Table wrapper-->
																<div class="table-responsive">
																	<!--begin::Table-->
																	<table class="table align-middle table-row-dashed fs-6 gy-5">
																		<!--begin::Table body-->
																		<tbody class="text-gray-600 fw-semibold">
																			<!--begin::Table row-->
																			<tr>
																				<td class="text-gray-800">Hepsini Aktar
																				<span class="ms-2" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Allows a full access to the system">
																					<i class="ki-duotone ki-information fs-7">
																						<span class="path1"></span>
																						<span class="path2"></span>
																						<span class="path3"></span>
																					</i>
																				</span></td>
																				<td>
																					<!--begin::Checkbox-->
																					<label class="form-check form-check-custom form-check-solid me-9">
																						<input class="form-check-input" type="checkbox" value="" id="kt_roles_select_all" />
																						<span class="form-check-label" for="kt_roles_select_all">Hepsini seç</span>
																					</label>
																					<!--end::Checkbox-->
																				</td>
																			</tr>
																			<!--end::Table row-->
																	
<!-- CreatedOn -->
<tr>
    <td class="text-gray-800">CreatedOn</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="CreatedOn" checked />
                <span class="form-check-label">Pasif Et</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="CreatedOn" />
                <span class="form-check-label">Aktif Et</span>
            </label>
        </div>
    </td>
</tr>

<!-- ID -->
<tr>
    <td class="text-gray-800">ID</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="ID" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="ID" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- Repeat the above block for each column -->
<!-- LastModified -->
<tr>
    <td class="text-gray-800">LastModified</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="LastModified" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="LastModified" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- AlternateNumber -->
<tr>
    <td class="text-gray-800">AlternateNumber</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="AlternateNumber" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="AlternateNumber" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- AssemblyModeValue -->
<tr>
    <td class="text-gray-800">AssemblyModeValue</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="AssemblyModeValue" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="AssemblyModeValue" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- AssemblyModeDisplay -->
<tr>
    <td class="text-gray-800">AssemblyModeDisplay</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="AssemblyModeDisplay" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="AssemblyModeDisplay" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- CADName -->
<tr>
    <td class="text-gray-800">CADName</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="CADName" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="CADName" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- CabinetName -->
<tr>
    <td class="text-gray-800">CabinetName</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="CabinetName" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="CabinetName" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- CheckOutStatus -->
<tr>
    <td class="text-gray-800">CheckOutStatus</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="CheckOutStatus" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="CheckOutStatus" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- CheckoutState -->
<tr>
    <td class="text-gray-800">CheckoutState</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="CheckoutState" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="CheckoutState" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- Comments -->
<tr>
    <td class="text-gray-800">Comments</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="Comments" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="Comments" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- ComponentType -->
<tr>
    <td class="text-gray-800">ComponentType</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="ComponentType" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="ComponentType" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- ConfigurableModuleValue -->
<tr>
    <td class="text-gray-800">ConfigurableModuleValue</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="ConfigurableModuleValue" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="ConfigurableModuleValue" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- ConfigurableModuleDisplay -->
<tr>
    <td class="text-gray-800">ConfigurableModuleDisplay</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="ConfigurableModuleDisplay" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="ConfigurableModuleDisplay" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- CreatedBy -->
<tr>
    <td class="text-gray-800">CreatedBy</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="CreatedBy" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="CreatedBy" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>

<!-- DefaultTraceCodeValue -->
<tr>
    <td class="text-gray-800">DefaultTraceCodeValue</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="DefaultTraceCodeValue" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="DefaultTraceCodeValue" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>
					<!-- DefaultTraceCodeValue -->
<tr>
    <td class="text-gray-800">DefaultTraceCodeDisplay</td>
    <td>
        <div class="d-flex">
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="true" name="DefaultTraceCodeDisplay" checked />
                <span class="form-check-label">Aktif</span>
            </label>
            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                <input class="form-check-input" type="radio" value="false" name="DefaultTraceCodeDisplay" />
                <span class="form-check-label">Pasif</span>
            </label>
        </div>
    </td>
</tr>
						<!-- DefaultUnitValue -->
<tr>
  <td class="text-gray-800">DefaultUnitValue</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="DefaultUnitValue" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="DefaultUnitValue" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- DefaultUnitDisplay -->
<tr>
  <td class="text-gray-800">DefaultUnitDisplay</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="DefaultUnitDisplay" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="DefaultUnitDisplay" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- DenemeNX -->
<tr>
  <td class="text-gray-800">DenemeNX</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="DenemeNX" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="DenemeNX" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- Description -->
<tr>
  <td class="text-gray-800">Description</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Description" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Description" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- EndItem -->
<tr>
  <td class="text-gray-800">EndItem</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="EndItem" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="EndItem" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- FolderLocation -->
<tr>
  <td class="text-gray-800">FolderLocation</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="FolderLocation" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="FolderLocation" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- FolderName -->
<tr>
  <td class="text-gray-800">FolderName</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="FolderName" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="FolderName" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- GatheringPart -->
<tr>
  <td class="text-gray-800">GatheringPart</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="GatheringPart" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="GatheringPart" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- GeneralStatus -->
<tr>
  <td class="text-gray-800">GeneralStatus</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type
="radio" value="true" name="GeneralStatus" checked />
<span class="form-check-label">Aktif</span>
</label>
<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
<input class="form-check-input" type="radio" value="false" name="GeneralStatus" />
<span class="form-check-label">Pasif</span>
</label>
</div>

  </td>
</tr>
<!-- Identity -->
<tr>
  <td class="text-gray-800">Identity</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Identity" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Identity" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- KaleKod -->
<tr>
  <td class="text-gray-800">KaleKod</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="KaleKod" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="KaleKod" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- Kaleargenumber -->
<tr>
  <td class="text-gray-800">Kaleargenumber</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Kaleargenumber" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Kaleargenumber" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- Latest -->
<tr>
  <td class="text-gray-800">Latest</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Latest" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Latest" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- Length -->
<tr>
  <td class="text-gray-800">Length</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Length" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Length" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- LifeCycleTemplateName -->
<tr>
  <td class="text-gray-800">LifeCycleTemplateName</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="LifeCycleTemplateName" checked />
        <span class="form-check-label">Aktif
</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="LifeCycleTemplateName" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- Material -->
<tr>
  <td class="text-gray-800">Material</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Material" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Material" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- ModifiedBy -->
<tr>
  <td class="text-gray-800">ModifiedBy</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="ModifiedBy" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="ModifiedBy" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- NAME10 -->
<tr>
  <td class="text-gray-800">NAME10</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="NAME10" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="NAME10" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- NAME20 -->
<tr>
  <td class="text-gray-800">NAME20</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="NAME20" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="NAME20" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- NAME201_PTCC_MultipleAliasAttributeValues -->
<tr>
  <td class="text-gray-800">NAME201_PTCC_MultipleAliasAttributeValues</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="NAME201_PTCC_MultipleAliasAttributeValues" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="NAME201_PTCC_MultipleAliasAttributeValues" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- NAME201 -->
<tr>
  <td class="text-gray-800">NAME201</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="NAME201" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="NAME201" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
<!-- NAME -->
<tr>
  <td class="text-gray-800">Name</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Name" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Name" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- NAME30 -->
<tr>
  <td class="text-gray-800">NAME30</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="NAME30" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="NAME30" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
							<!-- OEMPartSourcingStatus -->
<tr>
  <td class="text-gray-800">OEMPartSourcingStatus</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="OEMPartSourcingStatus" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="OEMPartSourcingStatus" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- Number -->
<tr>
  <td class="text-gray-800">Number</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Number" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Number" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- ObjectType -->
<tr>
  <td class="text-gray-800">ObjectType</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="ObjectType" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="ObjectType" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- OrganizationReference -->
<tr>
  <td class="text-gray-800">OrganizationReference</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="OrganizationReference" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="OrganizationReference" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- PARCAADI -->
<tr>
  <td class="text-gray-800">PARCAADI</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="PARCAADI" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="PARCAADI" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- PTCWMNAME -->
<tr>
  <td class="text-gray-800">PTCWMNAME</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="PTCWMNAME" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="PTCWMNAME" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- PhantomManufacturingPart -->
<tr>
  <td class="text-gray-800">PhantomManufacturingPart</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="PhantomManufacturingPart" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="PhantomManufacturingPart" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- Revision -->
<tr>
  <td class="text-gray-800">Revision</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Revision" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Revision" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- SourceValue -->
<tr>
  <td class="text-gray-800">SourceValue</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="SourceValue" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="SourceValue" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- SourceDisplay -->
<tr>
  <td class="text-gray-800">SourceDisplay</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="SourceDisplay" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="SourceDisplay" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- SourceDuplicate -->
<tr>
  <td class="text-gray-800">SourceDuplicate</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="SourceDuplicate" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="SourceDuplicate" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- Standard -->
<tr>
  <td class="text-gray-800">Standard</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Standard" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Standard" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- StateValue -->
<tr>
  <td class="text-gray-800">State</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="State" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="State" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
@* 
<!-- StateValue -->
<tr>
  <td class="text-gray-800">StateValue</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="StateValue" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="StateValue" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- StateDisplay -->
<tr>
  <td class="text-gray-800">StateDisplay</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="StateDisplay" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="StateDisplay" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>			
				<!-- Supersedes --> *@
<tr>
  <td class="text-gray-800">Supersedes</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Supersedes" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Supersedes" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- Supplier -->
<tr>
  <td class="text-gray-800">Supplier</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Supplier" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Supplier" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- Thickness -->
<tr>
  <td class="text-gray-800">Thickness</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Thickness" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Thickness" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- TypeIconPath -->
<tr>
  <td class="text-gray-800">TypeIconPath</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="TypeIconPath" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="TypeIconPath" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- TypeIconTooltip -->
<tr>
  <td class="text-gray-800">TypeIconTooltip</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="TypeIconTooltip" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="TypeIconTooltip" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- Version -->
<tr>
  <td class="text-gray-800">Version</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="Version" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="Version" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- VersionID -->
<tr>
  <td class="text-gray-800">VersionID</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="VersionID" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="VersionID" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- View -->
<tr>
  <td class="text-gray-800">View</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="View" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="View" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- WorkInProgressStateValue -->
<tr>
  <td class="text-gray-800">WorkInProgressStateValue</td>
  <td>
    <div class="d-flex">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="WorkInProgressStateValue" checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="WorkInProgressStateValue" />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>

<!-- WorkInProgressStateDisplay -->
<tr>
  <td class="text-gray-800">WorkInProgressStateDisplay</td>
  <td>
    <div class="d-flex ">
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="true" name="WorkInProgressStateDisplay"   checked />
        <span class="form-check-label">Aktif</span>
      </label>
      <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
        <input class="form-check-input" type="radio" value="false" name="WorkInProgressStateDisplay"  />
        <span class="form-check-label">Pasif</span>
      </label>
    </div>
  </td>
</tr>
														</tbody>
																		<!--end::Table body-->
																	</table>
																	<!--end::Table-->
																</div>
																<!--end::Table wrapper-->
															</div>
															<!--end::Permissions-->
														</div>
														<!--end::Scroll-->
														<!--begin::Actions-->
														<div class="text-center pt-15">
																<button type="reset" class="btn btn-light me-3"  data-bs-dismiss="modal" aria-label="Close" >İptal</button>
															<button type="submit" class="btn btn-primary" >
																<span class="indicator-label">Oluştur</span>
																<span class="indicator-progress">Lütfen bekleyin...
																<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
															</button>
														</div>
														<!--end::Actions-->
													</form>
													<!--end::Form-->
												</div>
												<!--end::Modal body-->
											</div>
											<!--end::Modal content-->
										</div>
										<!--end::Modal dialog-->
									</div>
									<!--end::Modal - Add role-->
				
									<!--end::Modals-->


<!-- #region SignalR Settings -->

@section Scripts {
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
$(document).ready(() => {
    var connection = new signalR.HubConnectionBuilder().withUrl("/FormDataListHub").build();
    $("#constatus").text(connection.state);

    connection.on("EPMDocumentFormData", (data) => {
        // Güncel verileri kullanarak sayfayı güncelle

        updateTable(data);
    });

    connection.on("EPMDocumentFormDataCount", (count) => {
        // Toplam kayıt sayısını güncelle
        updateCount(count);
    });


      connection.on("ReceiveWorkStatus", (connectionType) => {
        // Windows Form Gösterge Paneli durumunu güncelle
        updateWorkStatus(connectionType);
    });


    connection.start().then(() => {
        $("#constatus").text(connection.state);
    }).catch((err) => {
        console.log(err);
    });

    // Veri güncelleme işlemini belirli bir aralıkta sürdürme
    setInterval(() => {
        connection.invoke("SendFormData");
        connection.invoke("SendFormDataCount");
        connection.invoke("SendWorkStatus");
    }, 1000);
});



function updateTable(data) {
    // Tabloyu güncelleme işlemleri burada yapılabilir
    // Örneğin, jQuery ile:
    $('#dataTableBody').empty();
    $.each(data, function (index, item) {

        var formattedTimestamp = new Date(item.processTimestamp).toLocaleString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });

        $('#dataTableBody').append('<tr><td >' + (index + 1) + '</td><td class="" >' + item.version + '</td><td>' + item.statestate + '</td><td class="w-25">' + item.name + '</td><td class="w-25">' + item.wtPartNumber + '</td><td class="w-25">' + formattedTimestamp + '</td></tr>');
    });
}



function updateCount(count) {
    // Toplam kayıt sayısını güncelleme işlemleri burada yapılabilir
    $('#dataCount').text(count);
}


function updateWorkStatus(connectionType) {
    var statusElement = $("#workStatus");
    var badgeElement = statusElement.find(".badge");

    if (connectionType) {
        badgeElement.text("Çalışıyor").removeClass("badge-light-danger").addClass("badge-light-success");
    } else {
        badgeElement.text("Çalışmıyor").removeClass("badge-light-success").addClass("badge-light-danger");
    }
}


    </script>
}

