@{
    var sablonList = ViewBag.SablonViewModelList  as List<SablonViewModel>;
    var sayac = 1;
}

<h1>Şablon Ayarları</h1>
<div class="row" >


    <form asp-action="ApiSendDataSettings" asp-controller="WindowsFormSettings" method="post" enctype="multipart/form-data">
        <input type="text" class="form-control" placeholder="Hedef dosya yolunu ekleyin ---> ( Configuration / ApiSendDataSettings.json )" alt="Dosya seçiniz" name="jsonFile" />

    <button class="btn btn-info btn-sm float-end m-4">Bağla</button>
</form>

</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9 g-xxl-2">

     @if (sablonList != null)
            {
                 foreach (var item in sablonList)
                {
                    <!--begin::Col-->
            <div class="col-md-4 col-sm-6 col-xl-3 col-xxl-2">
                        <!--begin::Card-->
                        <div class="card card-flush h-md-100">
                            <!--begin::Card header-->
                            <div class="card-header  ribbon ribbon-top ribbon-vertical">
                                           <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>@item.SablonName</h2>
                                </div>
                                <!--end::Card title-->
                        <form id="formDeleteRole_@item.ID" asp-action="apiSablonsRemoveSettings" asp-controller="WindowsFormSettings" method="post">
                            <input name="ID" value="@item.ID" hidden />
                            @if (item.sablonDataDurumu == "false")
                            {
                                <div class="ribbon-label bg-danger">
                                    <button type="button" class="bg-transparent border-0 sweetAlertDeleteRole" data-id="@item.ID">
                                        <i class="ki-solid ki-trash text-inverse-danger fs-1"></i>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="ribbon-label bg-secondary">
                                    <button type="button" class="bg-transparent border-0" disabled>
                                        <i class="ki-solid ki-trash text-inverse-secondary fs-1"></i>
                                    </button>
                                </div>
                            }
                        </form>

                         
                            </div>
                            <!--end::Card header-->

                            <!--begin::Card body-->

                    <div class="card-body pt-1  mx-auto" >
                        <i class="ki-solid ki-gear text-success fs-7tx ">
                          
                        </i>
                            </div>

                    <div class="card-body pt-1 scroll-y" style="height:300px" hidden>
                                    
                                    <!--begin::Users-->
                                <div class="fw-bold text-gray-600 mb-5">Aktif edilmiş Attribute sayısı: @item.SablonDataList.Count(x => x.IsActive == "true")</div>
                                <!--end::Users-->
                                    
                                <!--begin::Permissions-->
                                <div class="d-flex flex-column text-gray-600" >
                                    @foreach (var item2 in item.SablonDataList)
                                        {
                                             if(item2.IsActive == "true")
                                            {
                                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> @item2.Name</div>
                                            } 
                                        }
                  

                                </div>
                                <!--end::Permissions-->
                            </div>
                            <!--end::Card body-->

                            <!--begin::Card footer-->
                            <div class="card-footer flex-wrap pt-0">

                        <form id="formSablons_@item.ID" asp-action="apiSablonsSendtToWindowsFormSettings" asp-controller="WindowsFormSettings" method="post">
                            <input name="ID" value="@item.ID" hidden />
                            <input name="SablonName" value="@item.SablonName" hidden />
                            <input type="hidden" name="sablonDataDurumu" value="@item.sablonDataDurumu" />

                            @if (item.sablonDataDurumu == "false")
                            { 
                            <button type="button" class="btn btn-light btn-light-success my-1 float-end startButton">Başlat</button>
                            }else{

                            <button type="button" class="btn btn-light btn-primary my-1 float-end stopButton">Durdur</button>
                            }
                        </form>

                           @*      <form asp-action="apiSablonsSendtToWindowsFormSettings" asp-controller="WindowsFormSettings" method="post">

                                    <input name="ID" value="@item.ID" hidden/>
                                    <input name="SablonName" value="@item.SablonName" hidden/>

                                @if(item.sablonDataDurumu == "false"){
                                <button type="submit" class="btn btn-light btn-light-success my-1 float-end" >Başlat</button>
                                    <input name="sablonDataDurumu" value="true" hidden/>
                                }else{ 
                                <button type="submit" class="btn btn-light btn-primary my-1 float-end" >Durdur</button>
                                    <input name="sablonDataDurumu" value="false" hidden/>
                                }
                                </form> *@
                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Col-->
                }
                }

    
    <!--begin::Add new card-->
    <div class="col-md-4 col-sm-6 col-xl-3 col-xxl-2">
        <!--begin::Card-->
        <div class="card h-md-100">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center">
                <!--begin::Button-->
                <button type="button" class="btn btn-clear d-flex flex-column flex-center" data-bs-toggle="modal" data-bs-target="#kt_modal_add_role">
                    <!--begin::Illustration-->
                    <img src="/metronic8/demo39/assets/media/illustrations/sketchy-1/4.png" alt="" class="mw-100 mh-150px mb-7">                      
                    <!--end::Illustration-->

                    <!--begin::Label-->
                    <div class="fw-bold fs-3 text-gray-600 text-hover-primary">Yeni Role Oluştur</div>
                    <!--end::Label-->
                </button>
                <!--begin::Button-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <!--begin::Add new card-->
</div>


                   
                    <!--begin::Modals-->
									<!--begin::Modal - Add role-->
									<div class="modal fade" id="kt_modal_add_role" tabindex="-1" aria-hidden="true">
										<!--begin::Modal dialog-->
										<div class="modal-dialog modal-dialog-centered mw-900px">
											<!--begin::Modal content-->
											<div class="modal-content">
												<!--begin::Modal header-->
												<div class="modal-header">
													<!--begin::Modal title-->
													<h2 class="fw-bold">Rol Oluştur</h2>
													<!--end::Modal title-->
													<!--begin::Close-->
													<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" aria-label="Close">
														<i class="ki-duotone ki-cross fs-1">
															<span class="path1"></span>
															<span class="path2"></span>
														</i>
													</div>
													<!--end::Close-->
												</div>
												<!--end::Modal header-->
												<!--begin::Modal body-->
												<div class="modal-body scroll-y mx-lg-5 my-7">
													<!--begin::Form-->
													<form method="post" asp-action="apiSablonsSendSettings" asp-controller="WindowsFormSettings" enctype="multipart/form-data" class="form">
														<!--begin::Scroll-->
														<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_role_header" data-kt-scroll-wrappers="#kt_modal_add_role_scroll" data-kt-scroll-offset="300px">
															<!--begin::Input group-->
															<div class="fv-row mb-10">
																<!--begin::Label-->
																<label class="fs-5 fw-bold form-label mb-2">
																	<span class="required">Rol adı</span>
																</label>
																<!--end::Label-->
																<!--begin::Input-->
																<input class="form-control form-control-solid" placeholder="Rol adının giriniz" name="role_name" />
																<!--end::Input-->
															</div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fs-5 fw-bold form-label mb-2">
                                        <span class="required">Kaynak api adı</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <select class="form-control form-control-solid" name="source_Api">
                                        <option value="">Kaynak Api Seç</option>
                                        <option hidden value="CADDocumentMgmt/CADDocuments('OR:wt.epm.EPMDocument:">PTC CAD Document Management Domain - CADDocuments</option>

                                        <option value="ProdMgmt/Parts('OR:wt.part.WTPart:">PTC Product Management Domain - Parts</option>
                                    </select>
                                    <!--end::Input-->
                                </div>
                                                                </div>
                                                                <div class="col-md-6">
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fs-5 fw-bold form-label mb-2">
                                        <span class="required">İşlem adı</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <select class="form-control form-control-solid" name="yapilacakIslem">
                                        <option value="">Yapılacak işlemi seç</option>
                                        <option value="RELEASED">RELEASED - Tamamlanmış parçaları aktar</option>
                                        <option value="ALTERNATE_RELEASED">MUADİL - Muadil parçaları aktar</option>
                                        <option value="INWORK">INWORK - Devam eden parçaları aktar</option>
                                        <option value="CANCELLED">CANCELLED - İptal edilmiş parçaları aktar</option>

                                    </select>
                                    <!--end::Input-->
                                </div>
                                                                </div>
                                                            </div>



                                                            <div class="row">
                                                                <div class="col-md-6">
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fs-5 fw-bold form-label mb-2">
                                        <span class="required">API adresi</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input class="form-control form-control-solid" placeholder="Api adresini giriniz" name="api_adres" />
                                    <!--end::Input-->
                                </div>
                                                                </div>
                            <div class="col-md-3">
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fs-5 fw-bold form-label mb-2">
                                        <span class="required">Ana kaynak</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input class="form-control form-control-solid" placeholder="Ana kaynak giriniz" name="ana_kaynak" />
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fs-5 fw-bold form-label mb-2">
                                        <span class="required">Alt Endpoint</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input class="form-control form-control-solid" placeholder="Alt Endpoint giriniz" name="alt_endpoint" />
                                    <!--end::Input-->
                                </div>
                            </div>
                                                            </div>
                                                         

                                                     
															<!--end::Input group-->
															<!--begin::Permissions-->
															<div class="fv-row" hidden>
																<!--begin::Label-->
																<label class="fs-5 fw-bold form-label mb-2">Api Yönetimi</label>
																<!--end::Label-->
																<!--begin::Table wrapper-->
																<div class="table-responsive">
																	<table class="table align-middle table-row-dashed fs-6 gy-5">
                                                                        <tbody class="text-gray-600 fw-semibold" id="ptcWindchillApiClassList">
                                                                        </tbody>
                                                                        </table>
																</div>
																<!--end::Table wrapper-->
															</div>
															<!--end::Permissions-->
														</div>
														<!--end::Scroll-->
														<!--begin::Actions-->
														<div class="text-center pt-15">
																<button type="reset" class="btn btn-light me-3"  data-bs-dismiss="modal" aria-label="Close" >İptal</button>
															<button type="submit" class="btn btn-primary" >
																<span class="indicator-label">Oluştur</span>
																<span class="indicator-progress">Lütfen bekleyin...
																<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
															</button>
														</div>
														<!--end::Actions-->





													</form>
													<!--end::Form-->
												</div>
												<!--end::Modal body-->
											</div>
											<!--end::Modal content-->
										</div>
										<!--end::Modal dialog-->
									</div>
									<!--end::Modal - Add role-->
				
									<!--end::Modals-->




	@section scripts {

        <!-- #region SweetAlert area -->
    <script>
        const buttons = document.querySelectorAll('.sweetAlertDeleteRole');

        buttons.forEach(button => {
            button.addEventListener('click', async (e) => {
                e.preventDefault(); // Prevent default form submission
                const confirmation = await Swal.fire({
                    html: `Rolü silmek istediğinize emin misiniz? Bu işlem geri alınamaz. Silinen rol, rolün sahip olduğu tüm izinleri ve erişimleri de beraberinde silecektir.`,
                    icon: "warning", // Use a more appropriate icon for deletion
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Tamam, devam et",
                    cancelButtonText: 'Hayır, iptal et',
                    customClass: {
                        confirmButton: "btn btn-primary",
                        cancelButton: 'btn btn-danger'
                    }
                });

                if (confirmation.isConfirmed) {
                    // Find the parent form and submit it
                    const formId = `formDeleteRole_${button.getAttribute('data-id')}`;
                    document.getElementById(formId).submit();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".startButton").click(function () {
                var form = $(this).closest('form');
                var id = form.find('input[name="ID"]').val();
                var sablonName = form.find('input[name="SablonName"]').val();

                Swal.fire({
                    text: "İşlem başlatılsın mı?",
                    icon: "success",
                    showCancelButton: true,
                    confirmButtonText: "Evet, Başlat",
                    cancelButtonText: "İptal",
                    cancelButtonColor: '#d33',
                    reverseButtons: false,
                    customClass: {
                        confirmButton: 'btn btn-success', // Evet butonu rengi
                        cancelButton: 'btn btn-danger' // İptal butonu rengi
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.find('input[name="sablonDataDurumu"]').val("true");
                        form.submit();
                    }
                });
            });

            $(".stopButton").click(function () {
                var form = $(this).closest('form');
                var id = form.find('input[name="ID"]').val();
                var sablonName = form.find('input[name="SablonName"]').val();

                Swal.fire({
                    text: "İşlemi durdurmak istediğinize emin misiniz?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Evet, Durdur",
                    cancelButtonText: "İptal",
                    cancelButtonColor: '#d33',
                    reverseButtons: false,
                    customClass: {
                        confirmButton: 'btn btn-warning', // Evet butonu rengi
                        cancelButton: 'btn btn-danger' // İptal butonu rengi
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.find('input[name="sablonDataDurumu"]').val("false");
                        form.submit();
                    }
                });
            });
        });
    </script>
<!-- #endregion -->
                                                                <script>

                                                                    $(document).ready(function () { 

  let fields;

fetch("/jsonData/ptcWindchillApiClass.json")
  .then(response => response.json())
  .then(data => {    
    fields = data;
    initialize();
  })
  .catch(err => {
    console.log(err);
  });


function updateTable(api) {

  const apiFields = fields[api];
  
  document.getElementById("ptcWindchillApiClassList").innerHTML = "";  

  let row = ``;

  apiFields.forEach(field => {

    row += `
      <tr>
        <td class="text-gray-800">${field}
           <input class="form-check-input" type="radio" value="true" name="${field}" checked hidden>
           </td>
      </tr>
    `;

  });

  document.getElementById("ptcWindchillApiClassList").innerHTML = row;

}



document.querySelector("select").addEventListener("change", e => {
  const api = e.target.value;  
  updateTable(api);
});                
});
</script>
}


@* 
          <td>
          <div class="d-flex">

            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
              <input class="form-check-input" type="radio" value="true" name="${field}" checked>
              <span class="form-check-label">Aktif</span>
            </label>

            <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
              <input class="form-check-input" type="radio" value="false" name="${field}">
              <span class="form-check-label">Pasif</span>
            </label>

          </div>
        </td> *@