@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Sınıf ayarları</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
        <div class="col-md-12">
            <form asp-action="ApiSendDataSettings" asp-controller="WindowsFormSettings" method="post" enctype="multipart/form-data">
                <input type="text" class="form-control" placeholder="Hedef dosya yolunu ekleyin" alt="Dosya seçiniz" name="jsonFile" />

                <button class="btn btn-info btn-sm float-end m-4">Bağla</button>
            </form>
        </div>

        <div class="col-md-12 table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th hidden>KİMLİK</th>
                        <th>ADI</th>
                        <th>VERİTABANI ADI</th>
                        <th hidden>DURUM</th>
                        <th>DURUM</th>
                    </tr>
                </thead>
                <tbody>
                    @try
                        {

                                @foreach (var item in ViewBag.ApiSendDataSettings)
                        {
                            <form asp-action="ApiSendDataPartsSettings" asp-controller="WindowsFormSettings" method="post" enctype="multipart/form-data">
                                        <input type="text" name="ID" value="@item.ID" hidden  />

                            @if (!@item.Name.Contains("idA2A2") && !@item.Name.Contains("idA3masterReference") && !@item.Name.Contains("updateStampA2") && !@item.Name.Contains("statestate")){
                            @if (@item.IsActive)
                            {
                            <tr class="bg-light-success text-success">
                                <td hidden>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@item.SQLName</td>
                                <td hidden>@item.IsActive</td>
                                <input type="text" name="IsActive" value="false" hidden />
                            <td>
                                        <button type="submit" class="bg-light-success border-0 rounded-2  ">
                                            <i class="ki-duotone ki-tablet-delete fs-1 text-danger" >
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                </button>
                            </td>    
                            </tr>
                            }
                            else
                            {
                                <tr class="bg-light-danger text-danger">
                                    <td hidden>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.SQLName</td>
                                    <td hidden>@item.IsActive</td>
                                        <input type="text" name="IsActive" value="true" hidden />

                                <td>
                                        <button type="submit" class="bg-light-danger border-0 rounded-2">
                                            <i class="ki-duotone ki-tablet-ok fs-1 text-success">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                        </button>
                                </td>
                                </tr>
                            }
                        }
                            </form>
                        }


                        }
                        catch (Exception ex)
                        {
                            <h3 class="alert alert-light-danger">HATA! : @ex.Message</h3>
                        }
                </tbody>
            </table>
   
        </div>
       </div>
    </div>
</div>
<div class="row">


<form asp-action="windowsFormURLSettings" asp-controller="WindowsFormSettings" method="post" enctype="multipart/form-data">
    <input type="text" class="form-control" placeholder="Hedef dosya yolunu ekleyin" alt="Dosya seçiniz" name="jsonFile" />

    <button class="btn btn-info btn-sm float-end m-4">Bağla</button>
</form>

</div>



<div class="row g-7">
    <!--begin::Contact groups-->
    <div class="col-lg-4 col-xl-4">

        <div class="card h-xl-100">
            <!--begin::Header-->
            <div class="card-header position-relative min-h-50px p-0 border-bottom-2">
                <!--begin::Nav-->
                <ul class="nav nav-pills nav-pills-custom d-flex position-relative w-100" role="tablist">
                    <!--begin::Item-->
                    <li class="nav-item mx-0 p-0 w-50" role="presentation">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-color-muted border-0 h-100 px-0 active" data-bs-toggle="pill" id="kt_forms_widget_1_tab_1" href="#kt_forms_widget_1_tab_content_1" aria-selected="true" role="tab">
                            <!--begin::Subtitle-->
                            <span class="nav-text fw-bold fs-4 mb-3">
                                SQL
                            </span>
                            <!--end::Subtitle-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mx-0 px-0 w-50" role="presentation">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-color-muted border-0 h-100 px-0" data-bs-toggle="pill" id="kt_forms_widget_1_tab_2" href="#kt_forms_widget_1_tab_content_2" aria-selected="false" role="tab" tabindex="-1">
                            <!--begin::Subtitle-->
                            <span class="nav-text fw-bold fs-4 mb-3">
                                API
                            </span>
                            <!--end::Subtitle-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                </ul>
                <!--end::Nav-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Tab Content-->
                <div class="tab-content">
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade active show" id="kt_forms_widget_1_tab_content_1" role="tabpanel" aria-labelledby="kt_forms_widget_1_tab_1">
                        <form asp-action="windowssFormSQLSettings" asp-controller="WindowsFormSettings" method="post">

      
                        <!--begin::Row-->
                        <div class="row mb-7">
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="text" class="form-control text-gray-800 fw-bold" placeholder="Catalog" id="Catalog" name="Catalog" "">
                                    <label for="Catalog">Catalog</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="text" class="form-control text-gray-800 fw-bold" placeholder="ServerName" id="ServerName" name="ServerName">
                                    <label for="ServerName">ServerName</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                        
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="text" class="form-control text-gray-800 fw-bold" placeholder="KullaniciAdi" id="KullaniciAdi" name="KullaniciAdi">
                                    <label for="KullaniciAdi">KullaniciAdi</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-12 mt-3">
                                <!--begin::Input group-->
                                <div class="form-floating">
                                    <input type="password" class="form-control text-gray-800 fw-bold" placeholder="Parola" id="Parola" name="Parola">
                                    <label for="Parola">Parola</label>
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Col-->
                        
               
                        </div>
                        <!--end::Row-->
                        <!--begin::Action-->
                        <div class="d-flex align-items-end">
                            <button type="submit" class="btn btn-primary fs-3 w-100">Ayarları Kaydet</button>
                        </div>
                        <!--end::Action-->
                        </form>
                    </div>
                    <!--end::Tap pane-->
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade" id="kt_forms_widget_1_tab_content_2" role="tabpanel" aria-labelledby="kt_forms_widget_1_tab_2">
                        <form asp-action="windowssFormAPISettings" asp-controller="WindowsFormSettings" method="post">
                        <!--begin::Row-->
                        <div class="row mb-7">
                                <div class="col-12 mt-3">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <input type="text" class="form-control text-gray-800 fw-bold" placeholder="ApiURL" id="ApiURL" name="ApiURL">
                                        <label for="ApiURL">ApiURL</label>
                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <div class="col-12 mt-3">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <input type="text" class="form-control text-gray-800 fw-bold" placeholder="ApiEndpoint" id="ApiEndpoint" name="ApiEndpoint">
                                        <label for="ApiEndpoint">ApiEndpoint</label>
                                    </div>
                                    <!--end::Input group-->
                                </div>
                          
                        </div>
                        <!--end::Row-->
                        <!--begin::Action-->
                        <div class="d-flex align-items-end mt-3">
                            <button type="submit" class="btn btn-primary fs-3 w-100">Ayarları Kaydet</button>
                        </div>
                        <!--end::Action-->
                        </form>
                    </div>
                    <!--end::Tap pane-->
                </div>
                <!--end::Tab Content-->
            </div>
            <!--end: Card Body-->
        </div>
    </div>
    <!--end::Contact groups-->
    <!--begin::Search-->
    <div class="col-lg-8 col-xl-8">
        <!--begin::Contacts-->
        <div class="card card-flush" id="kt_contacts_list">

            <div class="card-header">
                <div class="d-flex align-items-center mb-1">
                    <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3">Windows Form Gösterge Paneli</a>
                    @if (ViewBag.ConnectionType)
                    {
                        <span class="badge badge-light-success me-auto">Çalışıyor</span>
                    }
                    else
                    {
                        <span class="badge badge-light-danger me-auto">Çalışmıyor</span>
                    }
                </div>

                <div class="d-flex align-items-end mb-1">
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        <i class="ki-solid ki-gear fs-2"></i>
                    </button>
                </div>

            </div>
            <!--begin::Card body-->
            <div class="card-body pt-5" id="kt_contacts_list_body">
                <!--begin::List-->
                <div class="scroll-y me-n5 pe-5 h-300px h-xl-auto" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_contacts_list_header" data-kt-scroll-wrappers="#kt_content, #kt_contacts_list_body" data-kt-scroll-stretch="#kt_contacts_list, #kt_contacts_main" data-kt-scroll-offset="5px" style="max-height: 763px;">
             

                    <span>Catalog: @ViewBag.Catalog</span>
                    <span>
                       ServerName: @ViewBag.ServerName
                    </span>
                    <span>
                        KullaniciAdi:
                        @if (!string.IsNullOrEmpty(ViewBag.KullaniciAdi)){
                            @ViewBag.KullaniciAdi
                        }
                    </span>
                    <span>
                        Parola:
                        @if (!string.IsNullOrEmpty(ViewBag.Parola))
                        {
                            @ViewBag.Parola
                            
                        }
                       
                    </span>
                    <span>
                        API: @ViewBag.API
                    </span>



                </div>
                <!--end::List-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Contacts-->
    </div>
    <!--end::Search-->

</div>