


@using DesignTech_PLM_Entegrasyon_App.MVC.Models.Log;
@using static DesignTech_PLM_Entegrasyon_App.MVC.Controllers.LogController

@model List<ExcelLogEntry>

@{
    ViewBag.Title = "View JSON Log Files";
    var orderedLogs = Model.OrderByDescending(x => x.islemTarihi);
}

<span hidden class="badge py-3 px-4 fs-7 badge-light-primary"> @ViewBag.jsonFilePath </span>
@try
{


@if (Model != null && Model.Any())
{
        <div class="table-responsive hover-scroll-overlay-y" style="height:80vh !important">
            <table class="table align-middle table-row-dashed border-gray-400 fs-7 gy-1 dataTable no-footer " id="ExcelLogTables">
            <thead>
                <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                    <th>Dosya Açıklaması</th>
                    <th>Mesaj</th>
                    <th>İşlem</th>
                    <th>Kullanıcı</th>
                    <th>İşlem Tarihi</th>
                </tr>
            </thead>
                <tbody >


                    @foreach (var logEntry in orderedLogs)
                {
                    <tr class="alert alert-danger">
                        <td>
                            @if(logEntry.ExcelDosya != null) 
                            {
                                
                                <span class="badge py-3 px-4 fs-7 badge-light-primary">@logEntry.ExcelDosya</span>
                            }
                            else{
                                <span class="badge py-3 px-4 fs-7 badge-light-warning">Veri yok</span>
                                }
                            </td>
                     
                        
                            <td>@logEntry.Text</td>


                            @if (logEntry.Operation == "Güncellendi" || logEntry.Operation == "İlişkilendirildi")
                            {
                                
                            <td>
                                <span class="badge badge-light-success">
                                @logEntry.Operation
                                </span>
                                </td>
                            }
                            else if (logEntry.Operation == "Güncellenmedi" || logEntry.Operation == "ilişkilendirilemedi")
                            {
                                      <td>
                                <span class="badge badge-light-danger">
                                @logEntry.Operation
                                </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="badge badge-secondary">
                                        @logEntry.Operation
                                    </span>
                                </td>
                            }
                            <td>@logEntry.KullaniciAdi</td>
                      
                        <td>@logEntry.islemTarihi</td>

                  
                    </tr>

                }

            </tbody>
        </table>
    </div>







}
else
{
    <p>No JSON files found in this date folder.</p>
}
}
catch (Exception ex)
{
    <h4 class="alert alert-danger">HATA : @ex.Message</h4>
}





@section scripts {

    <script>
        $(document).ready(function () {
            $('#ExcelLogTables').DataTable({
                "pageLength": 3000,
                "info": false,
                "ordering": false,
                "dom": 'Bfrtip',
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.6/i18n/Turkish.json",
                    "search": "",
                    "searchPlaceholder": "Log Ara ...",
                    "sInfo": "Toplam _TOTAL_ kayıt arasından _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoFiltered": "(toplam _MAX_ kayıttan süzülmüş)",
                }
            });

  

        });
    </script>


    <script>

    </script>
}
